# настройки PHPStorm
/.idea/

# исключаем bitrix core
# configs
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
/bitrix/.settings_extra.php
/bitrix/php_interface/after_connect*

# backups
/bitrix/backup
!/bitrix/backup/index.php

# logs
/bitrix/*.log
/bitrix/modules/updater.log
/bitrix/modules/updater_partner.log
/bitrix/php_interface/logs/

# cache 
/bitrix/cache
/bitrix/managed_cache
/bitrix/stack_cache
/bitrix/html_pages

### exports
/bitrix/catalog_export

!/bitrix/license_key.php

# templates
!/bitrix/templates/
/bitrix/templates/landing24/
/bitrix/templates/learning/

# components
!/bitrix/components/
/bitrix/components/bitrix/

# some things
/bitrix/admin/*
!/bitrix/admin/reports/

# загружаемые файлы
/upload/

# логи 
/local/php_interface/logs/
/local/logs/

# различные системные папки и файлы хостингов и ОС
/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# исключаем все текстовые и подобные ресурсы
*.xml
*.html
*.txt
*.log
*.css.map

# архивы, включая многотомные
*.zip
*.zip*  
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

# composer
composer.phar
/vendor/

# node.js
node_modules
bower_components
.grunt
.npm
.env

#логи xhprof 
/xhprof/logs

# но храним robots.txt
!/robots.txt
